.msg-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(143, 117, 84);
    align-items: center;
    justify-content: space-around;
}
.msg-item{
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    border-radius: 5px;
    
}